<% if current_user.admin %>
<div id="<%= dom_id room %>">
  <p>
    <strong>Location:</strong>
    <%= room.location %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= room.capacity %>
  </p>

</div>
<% end %>