<!DOCTYPE html>
<html>
  <head>
    <title>WolfEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<body>
<%= link_to 'Home page', root_path %>
<%= yield %>
</body>
</html>
